<div class="heading">
<h2>Annual Faculty Activity Report</h2>
<h4><%= @college.name %></h4>
<h4>University of New Mexico</h4>
</div>
<%= render 'report_diverse' %>
<br>
<%= link_to 'Back', person_path(@person), class: "btn btn-info btn-md" %>

